<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div>
    <h1>{% block myhdg %}Hello Group 2 {% endblock %}</h1>
    {% block body_block %}*** {% endblock %}
</div>
<hr/>
{#<p><a href={% url 'myapp:index' %}{{ 'courses' }}>Course page</a></p>#}
<p><a href={% url 'myapp:index' %}> Go Back to the Main Page </a></p>
</body>
</html>