
{% extends 'myapp/base.html' %}
{% block body_block %}
    {% if dateTime_var_bool == True %}
        <p>
            Last Login @{{ dateTime_var }}
        </p>
        {% else %}
        <p>
            {{ dateTime_var }}
        </p>
    {% endif %}

{% if top_list %}
<h2>List of Topics</h2>
<ol>
    {% for top in top_list %}
    <li><a href={% url 'myapp:index' %}{{ top.id }}> {{ top.name}}</a> </li>
    {% endfor %}
</ol>
{% else %}
<strong>There are no available topics!</strong>

{% endif %}

{# <p><a href={% url 'myapp:index' %}{{ 'about' }}>About page</a></p>#}


{% endblock %}
